.signup-form{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signup-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}