<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <img src="/assets/img/solecom.png" alt="logo">
  </div>

  <section class="signup-form" >  
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input name="email" type="email" required ngModel email>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="true" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Contraseña</ion-label>
        <ion-input name="password" type="password" required="true" ngModel minlength="8">
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]= "formvalid == false || submitted == false" class="ion-padding-start">
          El email o la contraseña no cumplen con el formato requerido.
          La contraseña debe ser de 8 caracteres.
        </p>
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button type="submit" expand="block">Create</ion-button>
    </div>
  </form>
  </section>

</ion-content>