ion-menu{
    ion-content{
        // --ion-background-color:#232F3E;
        --ion-background-color: #232F3E;
    }
}

#letra {
    color: #D1DDD3;
}

ion-toolbar {
    --background: #232F3E;
}

ion-title {
    --color: #D1DDD3;
}

.icono {
    background-color: #232F3E;
    color: blue;
}